body{
	font-family: 'Open Sans', sans-serif;
}

.photo{
	border-radius: 25%;
	margin-bottom: 2em;
	margin-top: 2em;
	width: 150px;
}

h3{
	font-size: 35px;
}

.icons{
	margin-bottom: 2em;
}

 #footer {
	background-color: black;
	padding-top: 1em;
	padding-bottom: 1em;
}

#footer a{
	color: white;
	font-size: 15px;
}


#wrapper{
	background-image: url("../images/bg.jpg");
	height: 550px;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#wrapper h1{
	font-size: 72px;
}

#wrapper h2{
	font-size: 18px;
	margin-bottom: 2em;
}

.spacer{
	height: 8em;
}

#features p{
	font-weight: 300;
	letter-spacing: 2px;
}

.navbar-transparent {
	background-color: rgba(0, 0, 0, 0.7);
}
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: white;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}
#equipe a{
	text-decoration: none;
	color: black;
}
#equipe p{
	color: black;
	font-size: 20px;
}
#equipe{
	background-image: url("../images/map.jpg");
	height: 550px;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	color: black;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);












